
@{
    ViewBag.Title = "Admin";
}
<!--       This View will have a button to update the Database from Zinc's API       -->
<!--        That way we can have create and edit build run off of our databse        -->
<!--This will reduce those really long load times we have because we use our own data-->
<!--   I think it'd also be cool to let users request products based on Amazon IDs   -->
<h2>Admin</h2>

<a>Update DB</a>