@{
	ViewBag.Title = "Home Page";
}

<div class="container body-content">
	<!-- Header -->
	<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
		<img class="header_img" src="~/Content/Images/computer-science-wallpaper-18.jpg" alt="Wallpaper" width="1500" height="800">
		<div class="w3-display-middle w3-margin-top w3-center">
			<h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min w3-center"><b>DAPS</b></span><span class="w3-hide-small w3-text-light-grey w3-padding w3-green w3-opacity-min w3-center">Building Innovation</span></h1>
		</div>
	</header>


	<div class="w3-content w3-padding" style="max-width:1564px">

		<!-- About Section -->
		<div class="w3-container w3-padding-32" id="about">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
			<p>
				Stuff about the app description will be here
			</p>
		</div>

		<!-- The Team-->
		<div class="w3-row-padding w3-grayscale">
			<div class="w3-col l3 m6 w3-margin-bottom">
				<img src="~/Content/Images/IMG_3615.jpg" alt="Ash" style="width:100%">
				<h3>William Twomey</h3>
				<p class="w3-opacity">The Coding Prodigy</p>
				<p>Often soft-spoken you can find William inside of the Matrix, controlling and manipulating databases; all while battling to be the next Pokemon Master</p>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<img src="~/Content/Images/IMG_3620.jpg" alt="Sam" style="width:100%; height:158.63px">
				<h3>Samantha Mazzola</h3>
				<p class="w3-opacity">The Universal Unicorn</p>
				<p>A stickler for stickers; You can catch her updating her Yoga stances...while developing databases.</p>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<img src="~/Content/Images/IMG_3619.jpg" alt="Pat" style="width:100%">
				<h3>Patrick Turner</h3>
				<p class="w3-opacity">The Defining Variable</p>
				<p>Full-Time Lions supporter; A Back-End Developers dream come true..but beware of the X and Y variables. For they have Infinite MEANINGS</p>
			</div>
			<div class="w3-col l3 m6 w3-margin-bottom">
				<img src="~/Content/Images/IMG_3594.jpg" alt="Drew" style="width:100%">
				<h3>A'Keem Drew</h3>
				<p class="w3-opacity">The App Breaker</p>
				<p>Eats, sleeps, read, & talks Code; Who finds joy in testing (or breaking) code and injecting null commands into a project</p>
			</div>
		</div>
	</div>
</div>

