
@{
    ViewBag.Title = "Display";
}
<br />
<br />
<h2>Display</h2>
<div id="Motherboard">
    @if (ViewBag.MB_Exists != null && ViewBag.MB_Exists != false)
    {
        <h1>Motherboard</h1>
        <p>@ViewBag.MB_Name</p>
        <p>@ViewBag.MB_Brand</p>
    }
</div>