@{
    ViewBag.Title = "MoreParts";
}

<br /> <br />
<h2>More Parts</h2>

<br />
<table border-="1">
    <tr>
        <th>Title</th>
        <th>Brand</th>
    </tr>

    @*TODO: need to create PartSearch Controller*@
    @*@foreach (var x in ViewBag.PartSearch)
    {
        <tr>
            <td>@ViewBag.PartSearch["title"]</td>
            <td>@ViewBag.PartSearch["brand"]</td>
        </tr>
    }*@
</table>